:root{
    --miverde: #25be80;
    --miblanco: #F8F7F7;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-color: var(--miblanco);
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    margin: 20px;
    margin-left: 20px;
}

.logo img {
    height: 80px;
    width: 80px;
}

.icon {
    float: left;
}


h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--miblanco); 
    text-align: center;
}

.encabezado {
    background: var(--miverde);
}

main {
    color: var(--miblanco);
}

.product img {
    width: 100px;
    height: 100px;
    background-color: var(--miblanco);
}

.menu {
    background-color: var(--miverde);
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--miblanco);
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
}

.nombre {
    color: var(--miblanco);
    font-size: 25px;
    padding: 0 80px;
    font-weight: bold;
}

.items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.items li {
    border-radius: 3px;
    margin: 0 5px;
}

.items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: var(--miblanco);
}

.items li a:hover{
    background-color: var(--miblanco);
    color: var(--miverde);
}

.parallax {
    background-image: url("../img/imagen-de-perchas-con-ropa.jpg");
    height: 600px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 50px;
    margin:var(--miblanco)
}

#main-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 5px dotted var(--miverde);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#main-index h3 {
    font-family: 'Permanent Marker', cursive;
    color: var(--miverde);
    text-align: center;
}

.main {
    border: 5px dotted var(--miverde);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

h2 {
    color: var(--miverde);
    background-color: var(--miblanco);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    color: var(--miverde);
    background-color: var(--miblanco);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.horarios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 4rem;
    color: var(--miverde);
    font-family: 'Permanent Marker', cursive;
    background-color: var(--miblanco);
}


.direccion {
    font-family: 'Permanent Marker', cursive;
    color: var(--miverde);
    font-size: 20px;
    display: inline;
    text-align: center;
}

.pie {
    background-color: var(--miverde);
    padding: 35px 0;
    margin-top: auto;
    width: 100%;
}


.container-footer{
    font-size: 14px;
    display: flex;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: var(--miverde);
}

.icon {
    display: inline-block;
    width: 22.8%;
    padding: 20px;
    background-color: var(--miverde);
    position: relative;
    text-align: center;
}

.icon img {
    width: 36px;
    height: 36px;
    background-color: var(--miverde);
}

.icon a {
    font-size: 18px;
    color: var(--miblanco);
    text-decoration: none;
    padding: 0 13px;
    text-align: center;
    display: block;
}

.icon a:hover {
    color: var(--miverde);
    background-color: var(--miblanco);
}

.container-box {
    color: var(--miblanco);
    border: 5px dotted var(--miverde);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.container-box p {
    font-size: 20px;
    color: var(--miverde);
}

.product {
    color: var(--miverde);
    background-color: var(--miblanco);
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    justify-content: center;
    justify-items: start;
    align-content: center;
}

.p {
    display: flex;
    align-items: center;
    margin: 20px;
    height: 300px;
    width: 250px;
    border: 3px solid var(--miverde);
    border-radius: 50px;
    padding: 20px;
    align-items: center;
    transition: all .8s;
}

.p img {
    background-color: var(--miblanco);
}

.p:hover {
    background-color: var(--miverde);
    color: var(--miblanco);
    height: 350px;
    width: 300px;
}

.form {
    width: 200px;
    height: 160px;
    padding: 20px;
    margin: auto;
    font-family: 'Permanent Marker';
}

.form h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--miverde);
    border: 5px dashed var(--miverde);
    text-align: center;
}

.form-icon {
    margin-bottom: 3px;
    width: 100%;
    background: var(--miverde);
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--miblanco);
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}
.form-boton {
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    text-align: center;
    color: var(--miblanco);
    background-color: var(--miverde);
}

.form-boton:hover {
    color: var(--miverde);
    background-color: var(--miblanco);
}

@media screen and (max-width: 768px) {
    .nombre {
        font-size: 20px;
        padding-left: 35px;  
    }
    .logo img {
        height: 60px;
        width: 60px;
    }
    .items li a {
        font-size: 12px;
    }
    .pie {
        padding: .8em 0;
    }
    .icon {
        padding: 15px;
    }
    .container-box p {
        font-size: 18px;
    }
    .icon img {
        width: 30px;
        height: 30px;
    }
    .icon a {
        font-size: 12px;
    }
    .product {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .p {
        height: 280px;
        width: 230px;
    }
    .p p {
        font-size: 20px;
        padding-left: 10px;
    }
    .p:hover {
        height: 330px;
        width: 270px;
    }

}

@media screen and (max-width: 425px) {
    .nombre {
        font-size: 15px;
        padding-left: 20px;
        text-align: center;  
    }
    .logo img {
        height: 40px;
        width: 40px;

    }
    .menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        align-content: center;
        height: 35vh;
    }
    .parallax {
        height: 400px;
    }
    h2 {
        font-size: 20px;
    }
    .items li a {
        font-size: 8px;
        padding: 10px 0;
        text-align: center;
    }
    .items {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        text-align: center;
    }
    .container-footer {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }
    .icon {
        width: 100vw;
        text-align: center;
    }
    .container-box p {
        font-size: 14px;
    }
    .product {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .p {
        height: 240px;
        width: 190px;
    }
    .p p {
        font-size: 12px;
        padding-left: 10px;
    }
    .p:hover {
        height: 290px;
        width: 240px;
    }
}


@media screen and (max-width: 320px) {
    .nombre {
        font-size: 15px;
        padding-left: 20px;
        text-align: center;  
    }
    .logo img {
        height: 40px;
        width: 40px;

    }
    .menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        align-content: center;
        height: 35vh;
    }
    .parallax {
        height: 400px;
    }
    h2 {
        font-size: 20px;
    }
    .items li a {
        font-size: 8px;
        padding: 7px 0;
        text-align: center;
    }
    .items {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        text-align: center;
    }
    .container-footer {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }
    .icon {
        width: 100vw;
        text-align: center;
    }
    .container-box p {
        font-size: 10px;
    }
    .product {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .p {
        height: 200px;
        width: 150px;
    }
    .p p {
        font-size: 12px;
        padding-left: 10px;
    }
    .p:hover {
        height: 250px;
        width: 200px;
    }
}