.pie {
    background-color: $verde;
    padding: 35px 0;
    margin-top: auto;
    width: 100%;
}

.container-footer{
    font-size: 14px;
    display: flex;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: $verde;
}

.icon {
    display: inline-block;
    width: 22.8%;
    padding: 20px;
    background-color: $verde;
    position: relative;
    text-align: center;

    img {
        width: 36px;
        height: 36px;
        background-color: $verde;
    }

    a {
        font-size: 18px;
        color: map-get($estilo_texto, color);
        text-decoration: none;
        padding: 0 13px;
        text-align: map-get($estilo_texto, posicion);
        display: block;
        transition: .5s;
        font-family: map-get($estilo_texto, fuente);

        &:hover {
            @include hover1;
        }
    }
}
