html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: $blanco;
}

h1 {
    font-family: $font;
    color: $blanco;
    background-color: $verde;
    text-align: center;
}

h2 {
    color: var(--miverde);
    background-color: var(--miblanco);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    color: var(--miverde);
    background-color: var(--miblanco);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

main {
    color: $blanco;
}

.parallax {
    background-image: url("../img/imagen-de-perchas-con-ropa.jpg");
    height: 600px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 50px;
    margin: $blanco;
}

#main-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 5px dotted $verde;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    h3 {
        font-family: $font;
        color: $verde;
        text-align: center;
    }
}

.main {
    border: 5px dotted $verde;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}


.horarios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 4rem;
    color: $verde;
    font-family: $font;
    background-color: $blanco;
}


.direccion {
    font-family: $font;
    color: $verde;
    font-size: 20px;
    display: inline;
    text-align: center;
}

.container-box {
    color: $blanco;
    border: 5px dotted $verde;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    p {
        font-size: 20px;
        color: $verde;
    }
}

.form {
    width: 200px;
    height: 160px;
    padding: 20px;
    margin: auto;
    font-family: $font;

    h5 {
        font-size: 20px;
        margin-bottom: 5px;
        color: $verde;
        border: 5px dashed $verde;
        text-align: center;
    }
}

.form-icon {
    margin-bottom: 3px;
    width: 100%;
    background: $verde;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid $blanco;
    font-family: $font;
    font-size: 15px;
}

.form-boton {
    width: 100%;
    font-family: $font;
    font-size: 15px;
    text-align: center;
    color: $blanco;
    background-color: $verde;
    transition: .5s;

    &:hover {
        color: $verde;
        background-color: $blanco;
        cursor: pointer;
    }
}

